* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

#mensaje {
    height: 34px;
}

/* #region body */
body {
    width: 100%;
    height: 100%;
    padding-top: 88px;
    padding-bottom: 30px;
    background-color: rgb(246, 252, 255);
    z-index: 1;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-size: 650px 895px;
    background-position: top;
    background-repeat: repeat;
}

/* #endregion */
.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grande{
    /* background-color: red; */
    width: 100%;
    height: 900px;
  }

header {
    width: 100%;
    background-color: #1F1815;
    align-items: center;
    justify-content: center;
    padding: 14px 40px;
    position: fixed;
    top: 0;
    z-index: 2;
    gap: 140px;
}
img{
    height: 45px;
    border-radius: 10px;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(17, 255, 0);
    padding: 5px;
    color: #333;
    background-color: #f1f1f1;
    cursor: text;

    box-shadow: 0 0 5px rgba(255, 255, 255, 0.864);
}

input:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.864);
    border: 1px solid #03e2ff;
}

input:focus {
    /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.864); */
    border: 2px solid #1290a1;
    outline: 1px solid #3631c6;

}

ul {
    justify-content: center;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

nav li>a {
    padding: 8px;
}

nav li>a:hover {
    background-color: #f7f5f31a;
    border-radius: 8px;
}

.favourites>a {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.favourites>a>p {
    background-color: rgb(85, 85, 128);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    text-align: center;
}





section {

    padding-top: 68px;
    padding-top: 58px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 45px;
}

.uno {
    background-color: red;
    width: 1050px;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.uno {
    background-color: red;
    width: 650px;
    height: 600px;
}

.green {
    box-shadow: 0px 0px 15px rgba(34, 255, 0, 0.5);
}

.green:hover {
    box-shadow: 0px 0px 20px rgb(34, 255, 0);
}

.red {
    box-shadow: 0px 0px 15px rgb(153, 80, 80);
}

.red:hover {
    box-shadow: 0px 0px 20px rgb(228, 86, 86);
}

.films {
    width: 280px;
    height: 525px;
    border: 1px solid red;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000;
    transition: all 0.5s;
}

.films:hover {
    transform: scale(1.02);
}

.films:hover .fa-solid {
    color: rgb(34, 255, 0);
}

.films>p,
span {
    border-radius: 50px;
    padding: 5px;
}

.divImg {
    width: 250px;
    height: 400px;
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
}


.movie {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 20px;
    gap: 19px;
}

.oneFilm {
    width: 600px;
    height: auto;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background-color: rgb(26, 26, 26);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    transition: 0.5s;
}

.oneFilm:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.fa-star {
    font-size: 25px;
}

.contain-star {
    width: 250px;
    justify-content: space-between;
}

.titleMovie {
    height: 56px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 350px;
    justify-content: space-between;
}

.buttons button {
    width: 160px;
    padding: 8px;
    background-color: black;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* transition: transform 0.3s, border-color 0.3s, color 0.3s, border 0.3s; */
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: rgba(10, 10, 10, 0.667);
}

button.clicked {
    transform: translateX(-10px);
    color: rgb(34, 255, 0);
    box-shadow: rgb(34, 255, 0) 5px 0px 10px;
    border-radius: 8px;
    background-color: rgba(10, 10, 10, 0.667);
}

button.noclicked {
    transform: translateX(10px);
    color: rgb(34, 255, 0);
    box-shadow: rgb(34, 255, 0) -5px 0px 10px;
    border-radius: 8px;
    background-color: rgba(10, 10, 10, 0.667);
}

.movieId,
.mensaje {
    display: none;
}

#mensaje {
    font-size: 24px;
    animation: aparecer 5s steps(30, end);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
}

@keyframes aparecer {
    from {
        width: 0;
    }
}

.contain {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#form2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

#form2 input {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}
#form2 input:last-child {
    width: 140px;
    height: 40px;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    border: none;
    transition: 0.3s ease;
    font-size: 20px;
}
#form2 input:last-child:hover {
    transform: scale(1.02);
    background-color: rgb(214, 213, 213);
    color: rgb(0, 0, 0);
    border: none;
}